streamlit==1.38.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2
matplotlib==3.9.2
wordcloud==1.9.3
Pillow==10.4.0
h5py==3.11.0
# Hapus baris tensorflow jika hanya memakai model Machine Learning.
tensorflow==2.15.1
